<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>Freeradius 服务端.md</string>
		</array>
		<array>
			<string>Radius 启用 MySQL.md</string>
		</array>
		<array>
			<string>schema.sql 详解.md</string>
		</array>
		<array>
			<string>Radius 流控~.md</string>
		</array>
		<array>
			<string>PPTP.md</string>
		</array>
		<array>
			<string>1.Freeradius 服务端+测试工具.md</string>
		</array>
		<array>
			<string>MariaDB.md</string>
		</array>
	</array>
</dict>
</plist>
